@import '../../../styles/mixins.scss';

.slots-machine {
  padding: 30px 0;

  &__section {
    display: inline-block;
    width: 33.333%;
    height: 240px;
    overflow: hidden;
    &-wrap {
      transition: margin 350ms ease;
    }
    &-el {
      position: relative;
      height: 240px;
    }
    &-image {
      @include absolute-full(10%);
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}