.slots-machine {
  width: 600px;
  margin: 0 auto;

  &__section {
    display: inline-block;
    width: 33.333%;
    height: 240px;
    overflow: hidden;
    transition: margin 200ms ease;
    &-el {
      position: relative;
      height: 240px;
    }
    &-image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: 150px 180px;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}