<div class="slots-machine">
  <div
    class="slots-machine__section"
    *ngFor="let section of (slotSections$ | async)"
  >
    <div
      class="slots-machine__section-wrap"
      [style.marginTop]="getSectionCoordinates(section.activeElementId)">
      <div
        class="slots-machine__section-el"
        *ngFor="let slot of section.elements"
        [style.backgroundColor]="slot.color"
      >
        <div
          class="slots-machine__section-image"
          [style.backgroundImage]="backgroundImage(slot.imageUrl)"
        ></div>
      </div>
    </div>
  </div>

  <button (click)="go()">Go</button>
</div>