$green: #3AEA49;
$red: #F34F56;
$white: #ffffff;

@mixin button($color) {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  color: $white;
  background-color: $color;
  border: 1px solid $color;
  text-transform: uppercase;
  transition: all 200ms ease;
  cursor: pointer;

  &:hover {
    color: $color;
    background-color: transparent;
  }
}